<div class="row">
  <div class="col s3 sidebar">
    <% if current_user && current_user.admin? %>
      <%= link_to edit_confirmed_issue_path(@confirmed_issue),
        method: :get,
        class: "btn-floating btn-medium waves-effect waves-light btn right" do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    <% end %>

    <h4>Issue #<%= @confirmed_issue.id %></h4>
    <span class="flow-text">
      <strong>Status: </strong>  <%= @confirmed_issue.status %>
    </span>
    <p>
      <strong>Title: </strong>  <%= @confirmed_issue.title %> <br>
      <strong>Notes: </strong>  <%= @confirmed_issue.notes %> <br>
      <strong>Category: </strong>  <%= @confirmed_issue.category %> <br>
      <strong>Danger Level: </strong>  <%= @confirmed_issue.danger_level %> <br>


      <strong>Reports: </strong>
      <ol>
        <% @confirmed_issue.reports.each do |report| %>
            <li> <%= link_to "Report ##{report.id}", report_path(report) %> </li>
        <% end %>
      </ol>
    </p>
  </div>

  <div class="col s9">
    <%= render "reports/map" %>
  </div>
</div>
