<%= form_for @report do |f| %>
<div class="row">
  <div class="s12">
    <%= f.label :address %>
    <%= f.text_field :address,required: true %>
  </div>
</div>
<div class="row">
  <div class="s12">
    <%= f.label :title %>
    <%= f.text_field :title,required: true %>
  </div>
</div>

<div class="row">
  <div class="s12">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <%= f.label :category %>
    <%= f.select(:category, ["Pothole", "Sidewalk", "Streetlight", "Traffic Signal", "Signage",
                    "Road Obstruction", "Pavement", "Powerline", "Vandalism", "Animal Control",
                    "Other"], {}, {:class => "browser-default"})%>
  </div>
  <div class="col s4">
    <%= f.label :danger_level %>
    <%= f.select(:danger_level, ["Mild", "Moderate", "Severe"], {}, {:class => "browser-default"})%>
  </div>
  <% if current_user && current_user.admin? %>
  <div class="col s4">
    <%= f.label :status %>
    <%= f.select(:status, [:active, :confirmed, :flagged, :hidden], {}, {:class => "browser-default"})%>
  </div>
  <% end %>

</div>
<div class="s6">
<%= f.submit "Submit", class: "btn waves-effect waves-light"%>
</div>



<% end %>
