  <a class="modal-trigger waves-effect waves-light btn right red" href="#report-modal">Report an Issue</a>
  <h1>All Reports</h1>
  <% @reports.each do |report| %>
    <h4><%= link_to "#{report.title}", report_path(report) %></h4>
    <p>
      <strong>Description: </strong>  <%= report.description %> <br>
      <strong>Status: </strong>  <%= report.status %> <br>
      <strong>Major Road: </strong> <%= report.major_road %> <br>
      <strong>Cross Street 1:</strong> <%= report.cross_street1 %><br>
      <strong>Cross Street 2:</strong> <%= report.cross_street2 %><br>
      <strong>Upvotes: </strong> <%= report.upvotes %> <br>
      <strong>Downvotes: </strong> <%= report.downvotes %> <br>
    </p>
  <% end %>


<!-- Modal Structure -->
<div id="report-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Report an Issue</h4>
    <%= render "form" %>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
