<div class="row">
  <div class="col s3 sidebar">
    <h5>All User Reports</h5>

    <!-- logic to hide reports to non-users and users that are not admins -->
    <% if !current_user || !current_user.admin? %>
      <% @reports.each do |report| %>
        <% if !report.hidden? %>
          <div class="chip <% if report.status=="flagged" || report.status=="hidden"%>
                      red <% elsif report.status=="confirmed" %> green lighten-1 <%else %>
                      indigo accent-2 <% end %> right">
              <span class="white-text"><%= report.status %></span>
            </div>
            <div class="">
              <b>Report #<%= report.id %></b> <br>
              <%= link_to report.title, report_path(report) %> <br>
            </div><br><br>
          <% end %>
        <% end %>

    <% elsif current_user.admin? %>

      <% @reports.each do |report| %>
        <div class="chip <% if report.status=="flagged" || report.status=="hidden"%>
                    red <% elsif report.status=="confirmed" %> green lighten-1 <%else %>
                    indigo accent-2 <% end %> right">
          <span class="white-text"><%= report.status %></span>
        </div>
        <div class="">
          <b>Report #<%= report.id %></b> <br>
          <%= link_to report.title, report_path(report) %> <br>
        </div>

        <br><br>
      <% end %>
    <% end %>
    <!-- end of hide report logic -->

  </div>
  <div class="col s9">
    <div class="fixed-action-btn" style="top: 70px; right: 24px; z-index: 3">
      <a class="modal-trigger waves-effect waves-light red btn"
         href="#report-modal">Make a Report</a>
    </div>
    <%= render "map" %>
  </div>
</div>

<%= render "modal" %>
