<div class="row">
  <div class="col s3">
    <h4>Report #<%= @report.id %></h4>
    <span class="flow-text">  <strong>Status: </strong>  <%= @report.status %>
          <% if @report.confirmed? %>
            <i class="small material-icons green-text">done</i>
          <% end %>
    </span>
    <br>
    <p>
      <strong>Title: </strong>  <%= @report.title %> <br>
      <strong>Description: </strong>  <%= @report.description %> <br>
      <strong>Category: </strong>  <%= @report.category %> <br>
      <strong>Danger Level: </strong>  <%= @report.danger_level%> <br>
      <strong>Major Road: </strong> <%= @report.major_road %> <br>
      <strong>Cross Street 1:</strong> <%= @report.cross_street1 %><br>
      <strong>Cross Street 2:</strong> <%= @report.cross_street2 %><br>
      <strong>Latitude:</strong> <%= @report.latitude %><br>
      <strong>Longitude:</strong> <%= @report.longitude %><br>
      <strong>Upvotes: </strong> <%= @report.upvotes %> <br>
      <strong>Downvotes: </strong> <%= @report.downvotes %> <br>
    </p>

    <span class="flow-text">
      Possibly Related Reports:
    </span>



    <br>
    <% if !@report.confirmed? %>
      <%= button_to confirm_report_path(@report),
          :action => "confirm",
          class: "waves-effect waves-light btn" do %>
          Confirm Report
      <% end %>
    <% end %>
  </div>

  <div class="col s9">
    <%= render "reports/map" %>
  </div>

</div>
